:root {
  --global-bg-color: #{$gruvbox-white};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$gruvbox-black};
  --global-text-color-light: #{$gruvbox-grey};
  --global-theme-color: #{$gruvbox-purple};
  --global-hover-color: #{$gruvbox-purple};
  --global-hover-text-color: #{$gruvbox-white};
  --global-footer-bg-color: #{$gruvbox-dark-grey};
  --global-footer-text-color: #{$gruvbox-light-grey};
  --global-footer-link-color: #{$gruvbox-white};
  --global-distill-app-color: #{$gruvbox-grey};
  --global-divider-color: rgba(0, 0, 0, 0.1);
  --global-card-bg-color: #{$gruvbox-white};
  --global-highlight-color: #{$gruvbox-dark-red};
  --global-back-to-top-bg-color: rgba(#{red($gruvbox-black)}, #{green($gruvbox-black)}, #{blue($gruvbox-black)}, 0.4);
  --global-back-to-top-text-color: #{$gruvbox-white};
  --global-newsletter-bg-color: #{$gruvbox-white};
  --global-newsletter-text-color: #{$gruvbox-black};

  --global-tip-block: #{$gruvbox-cyan};
  --global-tip-block-bg: #{$gruvbox-light-green};
  --global-tip-block-text: #{$gruvbox-dark-green};
  --global-tip-block-title: #{$gruvbox-cyan};
  --global-warning-block: #{$gruvbox-yellow};
  --global-warning-block-bg: #{$gruvbox-white};
  --global-warning-block-text: #{$gruvbox-dark-green};
  --global-warning-block-title: #{$gruvbox-green};
  --global-danger-block: #{$gruvbox-dark-red};
  --global-danger-block-bg: #{$gruvbox-white};
  --global-danger-block-text: #{$gruvbox-dark-red};
  --global-danger-block-title: #{$gruvbox-red};

  #light-toggle-system {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    display: none;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
    bottom: $back-to-top-bottom;
    right: $back-to-top-right;
    height: $back-to-top-height;
    width: $back-to-top-width;
    z-index: $back-to-top-z-index;
  }
}

html[data-theme="dark"] {
  --global-bg-color: #{$gruvbox-dark-grey};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$gruvbox-light-grey};
  --global-text-color-light: #{$gruvbox-grey};
  --global-theme-color: #{$gruvbox-cyan};
  --global-hover-color: #{$gruvbox-cyan};
  --global-hover-text-color: #{$gruvbox-white};
  --global-footer-bg-color: #{$gruvbox-light-grey};
  --global-footer-text-color: #{$gruvbox-dark-grey};
  --global-footer-link-color: #{$gruvbox-black};
  --global-distill-app-color: #{$gruvbox-light-grey};
  --global-divider-color: #424246;
  --global-card-bg-color: #{$gruvbox-grey-900};
  --global-back-to-top-bg-color: rgba(#{red($gruvbox-white)}, #{green($gruvbox-white)}, #{blue($gruvbox-white)}, 0.5);
  --global-back-to-top-text-color: #{$gruvbox-black};
  --global-newsletter-bg-color: #{$gruvbox-light-grey};
  --global-newsletter-text-color: #{$gruvbox-dark-grey};

  --global-tip-block: #{$gruvbox-cyan};
  --global-tip-block-bg: #{$gruvbox-light-green};
  --global-tip-block-text: #{$gruvbox-dark-green};
  --global-tip-block-title: #{$gruvbox-cyan};
  --global-warning-block: #{$gruvbox-yellow};
  --global-warning-block-bg: #{$gruvbox-white};
  --global-warning-block-text: #{$gruvbox-dark-green};
  --global-warning-block-title: #{$gruvbox-green};
  --global-danger-block: #{$gruvbox-dark-red};
  --global-danger-block-bg: #{$gruvbox-white};
  --global-danger-block-text: #{$gruvbox-dark-red};
  --global-danger-block-title: #{$gruvbox-red};

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}

html[data-theme-setting="dark"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }

  #light-toggle-light {
    display: none;
  }

  #back-to-top {
    color: var(--global-back-to-top-text-color);
    background: var(--global-back-to-top-bg-color);
  }
}

html[data-theme-setting="light"] {
  #light-toggle-system {
    display: none;
  }

  #light-toggle-dark {
    display: none;
  }

  #light-toggle-light {
    padding-left: 10px;
    padding-top: 12px;
    display: block;
  }
}
