/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

@use "sass:color";

// Colors
$red-color: #fb4934 !default;
$red-color-dark: #cc241d !default;
$orange-color: #fe8019 !default;
$blue-color: #83a598 !default;
$blue-color-dark: #458588 !default;
$cyan-color: #689d6a !default;
$light-cyan-color: #8ec07c !default;
$green-color: #98971a !default;
$green-color-lime: #98971a !default;
$green-color-dark: #79740e !default;
$green-color-light: #b8bb26 !default;
$green-color-bright: #b8bb26 !default;
$purple-color: #b16286 !default;
$light-purple-color: #d3869b !default;
$pink-color: #cc241d !default;
$pink-color-light: #fb4934 !default;
$yellow-color: #fabd2f !default;

$grey-color: #928374 !default;
$grey-color-light: #a89984 !default;
$grey-color-dark: #282828;
$grey-900: #282828;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light: #fbf1c7 !default;
$code-bg-color-dark: #282828 !default;

// Font awesome location
$fa-font-path: "../webfonts";

// Tabler icons location
$ti-font-path: "../fonts";

// Back To Top button config
$back-to-top-z-index: 10;
$back-to-top-bottom: 30px;
$back-to-top-right: 30px;
$back-to-top-diameter: 40px;
$back-to-top-height: $back-to-top-diameter;
$back-to-top-width: $back-to-top-diameter;
